.modal-overlay {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Arial", sans-serif;
}

.sleep-logs-modal {
  background-color: #ffffff;
  margin: 5% auto;
  padding: 20px;
  border: none;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  animation: fadeIn 0.4s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
  color: #000;
  text-decoration: none;
}

.time-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.time-input label {
  margin-bottom: 5px;
}

.time-input input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.save-button,
.cancel-button,
.add-button,
.chart-button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin: 5px;
  width: 100px; /* Set the same width for all buttons */
}

.save-button:hover,
.cancel-button:hover,
.add-button:hover,
.chart-button:hover {
  background-color: #0056b3;
}

.sleep-logs-container {
  max-height: 300px; /* Adjust height to fit 4 rows */
  overflow-y: auto;
  border: 1px solid #ccc; /* Slightly lighter color for a modern look */
  border-radius: 12px; /* Increased radius for smoother corners */
  padding: 15px; /* Increased padding for more space inside */
  margin-top: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  background: linear-gradient(
    145deg,
    #f0f0f0,
    #ffffff
  ); /* Subtle gradient background */
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease; /* Smooth transition for border and shadow */
}

.sleep-logs-container:hover {
  border-color: #007bff; /* Highlight border color on hover */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15); /* Deeper shadow on hover */
}

.sleep-log-entry {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.sleep-log-entry:last-child {
  border-bottom: none;
}

.edit-button,
.delete-button {
  margin-top: 10px;
  padding: 8px 12px;
  border: none;
  background-color: darkgray;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s;
  margin-left: 10px;
  width: 100px; /* Set the same width for both buttons */
}

.edit-button:hover,
.delete-button:hover {
  background-color: #e2dddd;
}

.delete-confirmation-modal {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  animation: fadeIn 0.3s ease-in-out;
}

.delete-modal-actions {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.delete-confirm-button,
.delete-cancel-button {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  transition: background-color 0.3s;
  margin-left: 10px;
  width: 100px; /* Set the same width for both buttons */
}

.delete-confirm-button {
  background-color: #6c757d;
  color: white;
}

.delete-confirm-button:hover {
  background-color: #5a6268;
}

.delete-cancel-button {
  background-color: #6c757d;
  color: white;
}

.delete-cancel-button:hover {
  background-color: #5a6268;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/* src/components/user_account_page/TimeManagementModal/TimeManagementModal.css */
.sleep-log-icon {
  font-size: 1.2em;
  cursor: pointer;
}

.info-text {
  text-align: center;
  margin: 20px 0;
  padding: 15px;
  background-color: #f9f9f9; /* Light grey background */
  border: 1px solid #ccc; /* Light grey border */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.info-text p {
  margin: 0;
  font-size: 1.1em; /* Slightly larger font size */
  color: #333; /* Dark grey text color */
}
