.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 700px;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.2);
}

.modal-content {
    padding: 40px;
    background: rgba(255, 255, 255, 1);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px; /* Adjusted width */
    transition: transform 0.3s ease-in-out;
    animation: formAnimation 0.5s forwards;
}

.modal-content h2 {
    text-align: center;
    margin-bottom: 20px;
}

.modal-content input, .modal-content p {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    margin-bottom: 16px;
    border: none;
    border-bottom: 2px solid #0056b3;
    box-sizing: border-box;
}

.modal-content button {
    width: 100%;
    padding: 10px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 1px;
}

.modal-content button:hover {
    background-color: #004494;
}

.modal-content input:focus {
    outline: none;
    border-bottom-color: #ff4500;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@keyframes formAnimation {
    from {
        transform: scale(0.95);
    }
    to {
        transform: scale(1);
    }
}


.select-container {
    position: relative;
    display: inline-block;
    width: 50%;
    margin-bottom: 20px;
}

.select-container select {
    width: 100%;
    padding: 20px;
    border: 2px solid #007bff; /* Blue border */
    border-radius: 5px;
    appearance: none; /* Removes default browser styles */
    background-color: white;
    font-size: 16px;
    color: #333;
}

.select-container::after {
    content: '\25BC'; /* Down arrow symbol */
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    color: #007bff;
    pointer-events: none; /* Ensures the arrow doesn't interfere with the dropdown click */
    font-size: 12px;
}

.select-container select:hover {
    border-color: #0056b3; /* Darker blue on hover */
}

.select-container select:focus {
    outline: none;
    border-color: #003580; /* Even darker blue on focus */
}
