.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  background-image: url("./img/istockphoto-1480323436-1024x1024.jpg"); /* Path to the background image */
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the image */
  position: relative; /* Add position to handle modal overlay */
  z-index: 0; /* Ensure main page stays behind modal */
}


.login-form {
  padding: 40px;
  background: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  transition: transform 0.3s ease-in-out;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-form input {
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  margin-bottom: 16px;
  border: none;
  border-bottom: 2px solid #0056b3; /* Add underline to input fields */
  box-sizing: border-box;
}

.login-form button, .about button {
  width: 100%;
  padding: 10px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 1px;
}

.login-form button:hover {
  background-color: #004494;
}

.login-form input:focus {
  outline: none;
  border-bottom-color: #ff4500; /* Change underline color on focus */
}

@keyframes formAnimation {
  from {
    transform: scale(0.95);
  }
  to {
    transform: scale(1);
  }
}

.login-form {
  animation: formAnimation 0.5s forwards;
}

.toggle {
  background-color: #f8f9fa;
  color: #333;
  border: 1px solid #ddd;
  padding: 8px 16px;
  margin-top: 10px;
}

.login-container .slick-slide img {
  width: 600px;
  display: inline-block; /* Ensures the image stretches to cover the slide */
  height: 300px; /* Fixed height for all images */
  object-fit: cover; /* Ensures images cover the area without distorting aspect ratio */
}

.slick-prev::before,
.slick-next::before {
  color: black;
}
