/* App-css-React-App */
.App {
  text-align: center;
  background-image: url("./components/landing_page_main/images/gallery-7.jpg"); /* Path to the background image */
  /* background-image: url("./components/login_registration_page/img/istockphoto-1480323436-1024x1024.jpg"); Path to the background image */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
