.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../../components/login_registration_page/img/istockphoto-1480323436-1024x1024.jpg'); /* Path to the background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login-form {
    padding: 40px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    transition: transform 0.3s ease-in-out;
    animation: formAnimation 0.5s forwards;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-form input, .login-form p {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    margin-bottom: 16px;
    border: none;
    border-bottom: 2px solid #0056b3;
    box-sizing: border-box;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 1px;
}

.login-form button:hover {
    background-color: #004494;
}

.login-form input:focus {
    outline: none;
    border-bottom-color: #ff4500;
}

@keyframes formAnimation {
    from {
        transform: scale(0.95);
    }
    to {
        transform: scale(1);
    }
}

.toggle {
    background-color: #f8f9fa;
    color: #333;
    border: 1px solid #ddd;
    padding: 8px 16px;
    margin-top: 10px;
}
